<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mqtt BlackBox</title>
    <link href="{{ url_for('static', filename='styles/style_password.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>login </h1>
   
    <form action="/action_confirm">
        <br>
        <fieldset>
            <legend>What actiom?</legend>
            <p>
                <input type="radio" name="cmd" id="on" value="TeplarnaOnOff_On">
                <label for="on">on</label>
            </p>
            <p>
                <input type="radio" name="cmd" id="off" value="TeplarnaOnOff_Off">
                <label for="off">off</label>
            </p>
            <p>
                <input type="radio" name="cmd" id="beep" value="beep_On">
                <label for="beep">beep</label>
            </p>
            <p>
                <input type="radio" name="cmd" id="update" value="update">
                <label for="update">update</label>
            </p>
            <p>
                <input type="radio" name="cmd" id="other" value="other">
                <label for="other">Other</label>
            </p>
        </fieldset>
        <br> 
    
   
        <input type="text" name="psw" id="psw" placeholder="Enter psw" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>