<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mqtt BlackBox</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>BlackBox.index.07 copy {{ title }}</h1>
    <!--   <h1><BlackBox class="index 07"></BlackBox></h1>-->
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter Whatever" />
        <button type="submit">Submit</button>
    <!--  <button type="none">action</button> -->
    </form>
    <form action="/myaction">
        <!-- <button type="button">ON</button> -->
        <!-- <button type="button">OFF</button> -->
        <button type="button">exe0</button>
        <button type="submit">exeSubmit</button>
    </form>
    <a href=myaction><input type=”button” value='value0'></a>
</body>

</html>