<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mqtt Str Console</title>
    <link href="{{ url_for('static', filename='styles/style_index.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>login </h1>
          
    <form action="/myaction">
        <!-- <button type="button">ON</button> -->
        <!-- <button type="button">OFF</button> -->
        <!-- <button type="button">exe0</button> -->
        <input type="text" name="psw" id="psw" placeholder="Enter psw" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>