<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAction BB</title>
    
    <link href="{{ url_for('static', filename='styles/style_action.css')}}" rel="stylesheet" />
    <meta http-equiv="refresh" content="2">   <!-- Refresh page every 2 seconds -->
    <!--
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <meta http-equiv="refresh" content="2">  
     -->
</head>

<body>
    <h1>myaction {{ title }}</h1>
    <p>Isalive: {{ isalive }}</p>
    <p>Pir: {{ pir }}</p>
    <p>teploty: {{ teploty }}</p>
    <p>TeplarnaStav: {{ TeplarnaStav }}</p>
    <p>InfoUpdate: {{ InfoUpdate }}</p>
    <p>TeplarnaOnOff: {{ TeplarnaOnOff }}</p>
    <p>STRAKbeep: {{ STRAKbeep }}</p>
    
    

  
    <form action="/button_stop" method="get">
        <button type="submit">Stop</button>
    </form>

    <form action="/action_password" method="get">
        <button type="submit">Action</button>
    </form>
  
    
  </body>

</html>