<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mqtt BlackBox</title>
    <link href="{{ url_for('static', filename='styles/style2.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>login </h1>
    <!--   <h1><BlackBox class="index 07"></BlackBox></h1>--> 
   
    <!--<form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter Whatever" />
        <button type="submit">Submit</button>
    </form> -->
    <!--  <button type="none">action</button> -->
    <form action="/myaction">
        <!-- <button type="button">ON</button> -->
        <!-- <button type="button">OFF</button> -->
        <!-- <button type="button">exe0</button> -->
        <input type="text" name="psw" id="psw" placeholder="Enter psw" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>